VIDEOGET_HOST=127.0.0.1
VIDEOGET_PORT=8787
VIDEOGET_DOWNLOAD_DIR=D:\be_video_downloader_mcp\processing_storage
VIDEOGET_PROCESSING_RETENTION_SECONDS=86400
VIDEOGET_CHROME_EXE=C:\Program Files\Google\Chrome\Application\chrome.exe
VIDEOGET_CHROME_PROFILE_DIR=D:\be_video_downloader_mcp\chrome_profile
VIDEOGET_BENTO4_BIN_DIR=D:\be_video_downloader_mcp\tools\bento4\bin
VIDEOGET_ALLOWED_ORIGINS=
VIDEOGET_API_TOKEN=
